#header {
    background-color: $white;
    border-bottom: dashed 1px #ccc;
    color: $black;

    .inner {
        @include grid-media($md) {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-gap: 10px;
            // grid-auto-rows: minmax(100px, auto);
        }


        img {
            grid-column: 1 / 5;
            height: auto;
        }
        .row.intro {
            grid-column: 7/13;
            font-family: "Nunito Sans", sans-serif;
            font-weight: 900;
            align-self: center;
            align-items: flex-end;
            font-size: 26px;
        }
        @media only screen and (min-width: 0) {
            .row.history_message {
                grid-column: 4/10;
                .open {
                    background-color: $digiblue;
                    color: $white;
                    width: 100%;
                }
            }
        }
        @media only screen and (min-width: 768px) {
            .row.history_message {
                grid-column: 4/10;
                .open {
                    background-color: $digiblue;
                    color: $white;
                    max-width: 250px;
                }
            }
        }

        span {
            font-size: 26px;
        }
    }

    .row.intro h1 {
        display: none;
    }
    #header .inner .intro span {
        font-size: 26px;
    }
    @media only screen and (min-width: 0) {
        h2.invoice- {
            display: block;
            float: none;
            margin: auto;
            margin-bottom: 20px;
        }
    }
    @media only screen and (min-width: 768px) {
        h2.invoice- {
            float: right;
            margin-bottom: 0;
        }
    }
    h2.invoice- {
        border: solid 1px;
        font-size: 18px;
        text-transform: uppercase;
        min-width: 250px;
        padding: 0 20px;
        border-radius: 50px;
        
        &pending {
            @extend .invoice-;
            color: $orange;
        }
        &void {
            @extend .invoice-;
            color: $red;
        }
        &paid {
            @extend .invoice-;
            color: $green;
        }
        &temp {
            @extend .invoice-;
            color: #999;
        }
    }
}
#header .inner span {
    font-size: 28px !important;
    @include grid-media($md) {
        float: right;
    }
}