body.sa_invoice-template-default,
body.sa_estimate-template-default  {
    background-color: #fbfbfb;
}
#header .messages {
    margin-bottom: 40px;
}
.row .inner {
    max-width: 920px;
}
@media only screen and (min-width: 0) {
    #paybar {
        border-top: solid 1px #ccc;
    }
    #paybar .inner {
        color: #212121;
        font-size: 16px !important;
        top: 0;
    }
}
@media only screen and (min-width: 768px) {
    #paybar {
        top: 0 !important;
        bottom: inherit;
        border-bottom: solid 1px #ccc;
        border-top: none;
    }
    #paybar .inner {
        color: #212121;
        font-size: 18px !important;
        top: 0;
    }
}

#paybar .inner .button {
    background-color: #18cc21e6;
    color: #fbfbfb;
    font-weight: bold;
    margin: 5px;
}
#payment h2 {
    font-weight: bold;
}
#payment p {
    font-size: 18px;
}
.panel .inner .button {
    font-size: 20px;
    font-weight: bold;
    background-color: #18cc21e6;
}
a#sign_doc {
    background-color: #ff780075 !important;
    font-weight: bold;
    border: solid 1px #ff7800;
}
.panel .inner .toggle {
    height: 40px;
    color: #fbfbfb;
    font-size: 20px;
    padding: 5px;
    min-width: 150px;
    text-align: center;
    font-weight: bold;
}
.panel .inner input[type="text"], .panel .inner input[type="email"] {
    float: left;
    padding: 16px 0 3px 0;
    border-bottom: 1px solid #212121;
    font-size: 16px;
    color: #212121;
    max-width: 300px;
}
.panel .inner textarea, .panel .inner input[type="date"] {
    float: left;
    position: relative;
    margin: 10px 0px;
    border-bottom: 1px solid #ececec;
    width: auto;
    padding: 16px 0 3px 0;
    font-size: 16px;
    color: #212121;
    clear: both;
}
.panel .inner select {
    border: solid 1px #21212180;
    padding: 5px 0 3px 0;
}
.payment_option.toggle.cc_processor.stripe_profiles {
    background: transparent;
    border: solid 2px #18cc21e6;
    color: #18cc21e6;
    transition: all ease-in-out .250ms;
}
.payment_option.toggle.cc_processor.stripe_profiles:hover {
    background-color: #18cc21e6;
    color: #fbfbfb;
}
.payment_option.toggle.cc_processor.stripe_profiles.active {
    background-color: #18cc21e6;
    color: #fbfbfb;
}
a.payment_option.toggle {
    background: #0070ba;
    color: rgb(255, 255, 255);
}
.payment_option.toggle.paypal {
    background-color: transparent;
    border: solid 2px #0070ba;
    color: #0070ba;
    transition: all ease-in-out .250ms;
}
.payment_option.toggle.paypal:hover {
    background-color: #0070ba;
    color: #fbfbfb;
}
a.payment_option.toggle.active {
    background: #0b5b90;
    color: rgb(255, 255, 255);
}
#history {
    font-weight: bold;
}
.history article .posted {
    background-color: #17cedb;
}
.history article .posted::after {
    border-width: 5px 0 5px 6px;
    border-color: transparent transparent transparent #17cedb;
}
.si_history_update {
    font-size: 16px;
}
#intro {
    background: #fbfbfb;
}
#intro .inner {
    color: #212121;
}
#intro .inner .column span {
    color: #212121;
    font-size: 16px;
}

#items {
    background: #fbfbfb;
    color: #212121;
    font-size: 16px;
}
.invoice .title h2 {
    background-color: #fbfbfb;
    border: solid 1px #212121;
    min-width: 300px;
    font-size: 20px;
}
.invoice .title::after {
    border: solid 1px #212121;
}
#items .items .item .column p {
    font-size: 16px;
}
#items .items .item .column h3 {
    border-bottom: 1px solid #212121;
}

#totals {
    background: #fbfbfb;
    color: #212121;
    font-size: 16px;
}
#totals .items .item h3 {
    font-size: 20px;
    font-weight: bold;
}
#totals .items .item {
    border-bottom: 1px solid #212121;
}
.money_amount {
    font-size: 20px;
    font-weight: bold;
}

#notes {
    color: #212121;
}
@media only screen and (min-width: 0) {
    #notes {
        padding-bottom: 180px;
    }
}
@media only screen and (min-width: 768px) {
    #notes {
        padding-bottom: 120px;
    }
}
#notes .inner {
    font-size: 16px;
}
#notes .item {
    padding: 10px;
}
#notes .item .header h3 {
    color: #212121;
    border-bottom: solid 1px #212121;
    font-size: 16px;
}
.logged-in.admin-bar #paybar {
    padding-top: 30px;
}
.panel .close svg {
    height: 50px;
    fill: #fbfbfb;
    width: 50px;
    top: 40px;
    right: 40px;
    position: relative;
    background: red;
    border-radius: 50%;
}
.item.item_type_task {
    padding: 10px;
}
.li_comments_toggle {
    fill: #999;
}
#items .items .item {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.item:nth-child(odd) {
    background: #f3f3f3;
}
#totals .items .item {
    padding-left: 10px;
    padding-right: 10px;
}
.line_item_comment_wrap .submit.button {
    background: #18cc21e6;
    font-weight: bold;
}
.submit_doc_note_form textarea {
    border: solid 1px #ccc;
}